Jenkinsfile text eol=lf
Dockerfile text eol=lf
compose.yaml text eol=lf
README.md text eol=lf
PLAN.md text eol=lf
VERSION text eol=lf
tools/*.py text eol=lf
templates/*.html text eol=lf
web/*.html text eol=lf
web/*.js text eol=lf
web/*.css text eol=lf
web/data/*.js text eol=lf
web/assets/radar/*.jpg binary
web/assets/stereo/*.jpg binary
